/*header********************************************************/
.header{
    position: relative;
}
.login{
    width: 100%;    height: 40px;
    background: url("../images/login-bg.png");
    border-bottom: 1px solid #cc0000;
}
.login-word{
    color: #003399;
    font-size: 18px;
    font-style: italic;
    font-family: "微软雅黑";
    font-weight: bolder;
    line-height: 40px;
    margin-left: 135px;
    float: left;
    position: relative;
}
.log-in{
    float: left;
    font-size: 14px;
    font-family: "宋体";
    line-height: 40px;
    margin-left: 15px;
    _margin-top: 6px;
}
.log-in input{
    width: 109px;   height: 16px;

}

.denglu{
    position: absolute;
    top: 10px;
    left: 548px;
    _left: 698px;
    width: 47px;    height: 21px;
    background: url("../images/login-choice.png") 0 0;
}
.denglu:hover .denglu_hover{
    display: block;
}
.denglu_hover{
    display: none;
    width: 47px;    height: 21px;
    background: url("../images/login-choice.png") 0 -42px;
}
.zhuce{
    position: absolute;
    top: 10px;
    left: 628px;
    _left: 758px;
    width: 47px;    height: 21px;
    background: url("../images/login-choice.png") 0 -21px;
}
.zhuce:hover .zhuce_hover{
    display: block;
}
.zhuce_hover{
    display: none;
    width: 47px;    height: 21px;
    background: url("../images/login-choice.png") 0 -63px;
}
.search-word-in{
    color: #003399;
    font-size: 18px;
    font-style: italic;
    font-family: "微软雅黑";
    font-weight: bolder;
    line-height: 40px;
    margin-left: 55px;
    _margin-left: -30px;
    _margin-top: 10px;
    float: left;
    position: relative;
    left: 330px;
}
.search-word-in .keyword{
    color: #000000;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: 30px;
    font-family:  "宋体";
}
.search-word-in input{
    width: 109px;   height: 16px;
}
.search-bt-in{
    position: absolute;
    top: 11px;
    left: 1187px;
    _left: 1240px;
    width: 47px;    height: 21px;
    background: url("../images/jstx.png") -0px -42px;
}
/*==================== 语言选项 ================================*/
.langue-choice-small{
    width: 100%;  height: 165px;
    color: white;
    font-size: 16px;
    position: relative;
}
.langue-choice-small img{
    width: inherit;
    height: 165px;
}
.langue-change-small{
    position: absolute;
    top: 18px;
    left: 970px;
    color: white;
}
/*---------------------------menu----------------------------*/


/*---------------footer--------------*/
.footer{
    width: 100%;
    height: 330px;
    background-color:#083588;
}
.footer-content{
    width:1000px;
    height: 328px;
    /*border: 1px solid #000000;*/
    margin: 0 auto;

}
.footer-top{
    width:998px;

    height: 90px;
    /*border: 1px solid #000000;*/
}
.footer-online{
    margin: 15px 0 0 20px;
    _margin-left: 10px;
    width: 175px;
    height: 59px;
    background:url("../images/footer-online.jpg") no-repeat;
    float: left;
}
.footer-link{
    width: 780px;
    height: 60px;
    /*border: 1px solid #000000;*/
    margin:  15px 0 0 20px;
    float: left;
}
.footer-link-one a,.footer-link-two a,.footer-link-three a,.footer-link-four a
{
    width: 164px;
    height: 59px;
    /*border: 1px solid #000000;*/
    float: left;
    margin-right: 20px;
}
.footer-link-one a{
    background: url("../images/footer-bg.jpg");
}
.footer-link-two a{
    background: url("../images/footer-bg.jpg") 0 -58px;
}
.footer-link-three a{
    background: url("../images/footer-bg.jpg") 0 -117px;
}
.footer-link-four a{
    background: url("../images/footer-bg.jpg") 0 -177px;
}
.footer-link-one a:hover{
    background: url("../images/footer-bg-click.jpg");
}
.footer-link-two a:hover{
    background: url("../images/footer-bg-click.jpg") 0 -59px;
}
.footer-link-three a:hover{
    background: url("../images/footer-bg-click.jpg") 0 -118px ;
}
.footer-link-four a:hover{
    background: url("../images/footer-bg-click.jpg") 0 -178px;
}
.footer-center{
    width: 1000px;
    height: 140px;
    border-bottom: 1px solid #79c1e7;
    border-top: 1px solid #79c1e7;

}
.footer-friend-one ul{
    margin: 20px 0 0 50px;
    _margin:20px 0 0 25px;
    font-weight: bolder;
    color: #ffffff;
    float: left;
}
.footer-friend-two ul{
    margin: 20px 0 0 100px;
    float: left;
    color: #79c1e7;
    font-size: 14px;
}
.footer-friend-two ul li{
    line-height: 25px;
}
.footer-font-white{
    color: #ffffff;
}
.footer-bottom{
    width: 1000px;
    height: 80px;
    margin-top: 20px;
    /*border: 1px solid #79c1e7;*/
}
.footer-bottom p{
    font-size: 14px;
    color:  #79c1e7;
    text-align: center;
    line-height: 25px;
}
/*在线交流——即时通讯*****************************************************************************************************/
.jstx_bg{
    width: 100%;
    height: 800px;
    background: url("../images/jstx_bg.jpg");
}
.jstx_left{
    width: 300px;
    height: 430px;
    /*border: 1px solid #000000;*/
    position: relative;
    top: 85px;
    left: 150px;
    float: left;
}
.jstx_title{
    width: 260px;
    height: 80px;
    background: url("../images/jstx_title.png");
    _background: url("../images/jstx_title.gif");
}
.jstx_english_title{
    margin-top: 10px;
    width: 330px;
    height: 140px;
    /*border: 1px solid #000000;*/
    font-size: 28px;
    font-size: 24px\0;
    *font-size: 24px;
    text-transform: uppercase;
    font-family:"Times new Roman Regular",serif;
    color: #bfd5fb;
}
.jstx_english_title p{

    font-size: 37px;
    font-size: 32px\0;
    *font-size: 32px;
}
.jstx_system{
    margin-top: 20px;
    width: 244px;
    height: 172px;
    background-color: #083588;
}
.jstx_system_title{
    width: 220px;
    height: 60px;
    border-bottom: 1px solid #6184bb;
    margin: 0 auto;
}
.jstx_system_title img{
  margin: 20px 0 0 20px;
}
.jstx_system_content{
    margin:10px 0 0 10px;
    width: 230px;
    height: 70px;
    /*border: 1px solid #000000;*/
}
.jstx_system_content_user{
    color: #6184bb;
    float: left;
    font-size: 14px;
}
.jstx_system_content_person{
    width:110px;
    color: #ffffff;
    float: left;
    font-family: "宋体",serif;
    font-weight: bolder;
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 20px;
}
.jstx_system_logout{
    margin-left: 10px;
    width: 81px;
    height: 25px;
    background: url("../images/jstx_logout_bg.jpg");

    text-align: center;
    line-height: 25px;
    font-size: 13px;
    font-weight: bolder;
}
.jstx_system_logout a{
    color: #b9dccc;

}
.jstx_right{
    width: 710px;
    height: 700px;
    background: url("../images/jstx_qq.jpg");
    position: relative;
    top: 80px;
    left: 150px;
    float: left;
}
.jstx_chat_scroll{
    overflow-y: scroll;
    width: 510px;
    height: 320px;
    position: absolute;
    top:32px;
    left: 10px;
}
.jstx_chat{
    background-color: #e8ebf0;
    width: 493px;
    height: 400px;
    border-top: 1px solid #e8ebf0;
}
.jstx_chat_time{
    margin-top: 20px;
    text-align: center;
    color: #7d7d7d;
    font-size: 12px;

}
.jstx_chat_super{
    width: 480px;
    height: 70px;

}
.jstx_icon_blue{
    width: 32px;
    height: 30px;
    float: left;
    background:url("../images/jstx_icon_blue.png");
    _background:url("../images/jstx_icon_blue.gif");
    margin:10px 0 0 10px;
}
.jstx_chat_blue{
    width: 361px;
    height: 67px;
    float: left;
    background:url("../images/jstx_chat_blue.png");
    _background:url("../images/jstx_chat_blue.gif");
    margin:10px 0 0 10px;
}
.jstx_chat_blue p{
    color: #343300;
    font-size: 12px;
    margin: 7px 0 0 20px;
}
.jstx_chat_blue p span{
    color: #4265ae;
}
.jstx_chat_high{
    width: 480px;
    height: 60px;

}
.jstx_icon_green{
    width: 32px;
    height: 30px;
    float: left;
    background:url("../images/jstx_icon_green.png");
    _background:url("../images/jstx_icon_green.gif");
    margin:10px 0 0 10px;
}
.jstx_chat_green{
    width: 340px;
    height: 47px;
    float: left;
    background:url("../images/jstx_chat_green.png");
    _background:url("../images/jstx_chat_green.gif");
    margin:10px 0 0 90px;
    _margin-left:40px ;
}
.jstx_chat_green p{
    color: #343300;
    font-size: 12px;
    margin: 5px 0 0 15px;
}
.jstx_chat_green p span{
    color: #4a992f;
}
.jstx_send_scroll{
    overflow-y: scroll;
    width: 510px;
    height: 167px;
    position: absolute;
    top:389px;
    left: 10px;
}
.jstx_send input{
    width: 489px;
    height: 162px;
    *height: 160px;
    border: 1px solid #ffffff;
}
.jstx_talk_scroll{
    overflow-y: scroll;
    width: 178px;
    height: 124px;
    position: absolute;
    top:65px;
    left: 523px;
}

.jstx_talk{
    background-color: #e8ebf0;
    width: 160px;
    height: 123px;

}
.jstx_talk_user{
    width: 46px;
    height: 48px;
    background:url("../images/jstx_talk_user.png");
    _background:url("../images/jstx_talk_user.gif") no-repeat;
    margin: 10px 0 0 10px;
    _margin-left: 0;
    float: left;
}
.jstx_talk_name{
    color:#083487;
    font-size: 15px;
    float: left;
    font-weight: bolder;
    margin: 20px 0 0 5px;
}
.jstx_talk_work{
    width: 150px;
    height: 50px;

    float: left;
 }
.jstx_talk_work p{
   color: #343300;
    font-size: 12px;
    margin: 10px 0 0 20px;
}
.jstx_mass_send{
    position: absolute;
    top: 362px;
    left: 85px;
}
.jstx_secret{
    position: absolute;
    top: 362px;
    left: 230px;
}
.jstx_online_scroll{
    overflow-y: scroll;
    width: 178px;
    height: 365px;
    position: absolute;
    top:226px;
    left: 523px;
}
.jstx_online{
    width: 159px;
    height: 565px;

}
.jstx_online ul li{
    width: 160px;

    height: 32px;
    background: url("../images/jstx_online_user.png") no-repeat 10px 5px;
    _background: url("../images/jstx_online_user.gif") no-repeat 10px 5px;
    background-color: #e9f2f8;
    text-indent: 35px;
    line-height: 32px;
    font-size: 12px;

}
.jstx_online ul li a{
    color: #083487;
}
.jstx_online ul li.jstx_online_color{
    background-color: #d3e5f2;
}
.jstx_right_bottom_chat,.jstx_right_bottom_delete,.jstx_right_bottom_send{
    background: url("../images/jstx_send_bg.jpg");
    width: 74px;
    height: 25px;
    position: absolute;
    top: 562px;
    font-size: 12px;
    text-align: center;
    line-height: 25px;

}
.jstx_right_bottom_chat a,.jstx_right_bottom_delete a,.jstx_right_bottom_send a{
    color: #1d2f50;
}
.jstx_right_bottom_chat{
    left: 22px;
}
.jstx_right_bottom_delete{
    left: 342px;
}
.jstx_right_bottom_send{
    left: 431px;
}
.jstx_footer{
    width: 100%;
    height: 120px;
    background-color:#083588;
    position: relative;
}
.jstx_footer-bottom{
    width: 100%;
    height: 80px;
    position: absolute;
    top: 20px;
}
.jstx_footer-bottom p{
    font-size: 14px;
    color:  #79c1e7;
    text-align: center;
    line-height: 25px;
}
/*在线交流——用户注册*****************************************************************************************************/
.yhzc_bg{
    width: 100%;
    height: 681px;
    background: url("../images/yhzc_bg.jpg");
    position: relative;
}
.yhzc_title{
    width: 300px;
    height: 83px;
    position: relative;
    top: 280px;
    left:180px;
    background: url("../images/yhzc_title.png");
    _background: url("../images/yhzc_title.gif");
    float: left;
}
.yhzc_right{
    width: 442px;
    height: 610px;
    position: relative;
    top: 60px;
    float: left;
    left: 380px;
    background: rgba(255, 255, 255, 0.69);
    border-radius:5px ;
}
.yhzc_right_top{
    width: 440px;
    height: 47px;
    border-bottom: 4px solid #0a378a;
}
.yhzc_user_register{
    width: 146px;
    height: 39px;
    background:url("../images/yhzc_user_register.jpg");
    position: absolute;
    top: 8px;
    left: 30px;
    color: #ffffff;
    font-style: italic;
    font-size: 22px;
    text-align: center;
    line-height: 39px;
    font-family: 黑体,serif;
    font-weight: bolder;
}
.yhzc_login{
    width: 150px;
    height: 20px;
}
.yhzc_right_center{
  position: relative;
    top: 20px;
}
.yhzc_right_center p{
    color: #083588;
    font-weight: bolder;
    font-size: 15px;
    text-indent:40px;
    float: left;
    margin:15px 10px 0 0;
}
.yhzc_right_center_gender{
    color: #083588;
    font-weight: bolder;
    font-size: 15px;
    text-indent:40px;
    float: left;
    margin:15px 10px 0 0;
    width: 40px;
}
.yhzc_right_center input{
    margin-top:15px ;
}
.yhzc_login_gender{
    width: 40px;
    height: 20px;
    color: #083588;
}
.yhzc_login_ver{
    width: 90px;
    height: 20px;
}
.yhzc_login_verification{
    position: absolute;
    top: 385px;
    *top:403px;
    left: 210px;
    *left: 220px;
    _left:100px;
}
.yhzc_right_bottom{
    width: 199px;
    height: 52px;
    background: url("../images/yhzc_register_bg.jpg");
    position: absolute;
    top: 500px;
    left: 110px;
    *top:510px;
    color: #ffffff;
    font-style: italic;
    font-size: 25px;
    text-align: center;
    line-height: 52px;
    font-family: 黑体,serif;
    font-weight: bolder;
}
.yhzc_right_bottom a{
    color: #ffffff;
}
/*科研成果——管理信息系统发展趋势分析***************************************************************/
.kycg_manage_banner{
   width: 1000px;
    height: 130px;
    background: url("../images/banner.png") 0 -900px;
    position: relative;
    left:175px;
}
.kycg_manage_content{
    width:1000px;
    height:1141px;

    margin: 0 auto;
}
.kycg_manage_right{
    width: 688px;
    height: 1140px;

    float:right;
}
.kycg_manage_title{
    width: 688px;
    height: 50px;
    background: url("../images/kycg_manger_title.jpg");

}
.kycg_manage_information{
    margin-top:30px ;
    width: 687px;
    height: 40px;
    border-bottom: 2px solid #cc0000;
}
.kycg_manage_basic_information{
    color: #cc0000;
    font-size: 20px;
    float: left;
    font-weight: bolder;
    font-family: "黑体", serif;
    line-height: 40px;
    text-indent: 10px;
}
.kycg_manage_information img{
    margin: 10px 0 0 460px;
    float: left;
}
.kycg_manage_return{
    font-weight: bolder;
    font-size: 15px;
    float: left;
    line-height: 40px;
   text-indent: 10px;
}
.kycg_manage_form{
    margin-top: 10px;
    border-collapse:collapse ;
    /*width:688px;*/
    /*height:913px;*/
    /*border: 1px solid #000000;*/
    color: #333333;
    font-size: 15px;
}
 .kycg_manage_form tr td{
     border: 1px solid #8adaf5;
 }
.kycg_manage_form_one {
    text-align: right;
    background-color: #e4f1f8;
    width: 135px;
    height: 30px;
}
.kycg_manage_form_two{
    width: 203px;
    height: 30px;
}
.kycg_manage_form_three{
    text-align: right;
    background-color: #e4f1f8;
    width: 156px;
    height: 30px;
}
.kycg_manage_form_four{
    width: 181px;
    height: 30px;
}
.kycg_manage_form_five{
    width:537px;
    height: 30px;
}
.kycg_manage_form_six{
    text-align: right;
    background-color: #e4f1f8;
    width:135px;
    height: 90px;
}
.kycg_manage_form_seven{
    width:537px;
    height: 90px;
}
.kycg_manage_form_eight{
    background-color: #e4f1f8;
    width:135px;
    height:575px;
    text-align: right;
}
.kycg_manage_form_nine{

    width:537px;
    height:575px;
}

.kycg_manage_form_size{
    width:537px;
    height: 30px;
    font-size: 18px;
    font-weight: bolder;
    font-family: 黑体, serif;
}
tr.noborder{
    border: none;
}
tr.noborder td{
    border: none;
}
.kycg_manage_form_color{
    text-align: right;
background-color: #e4f1f8;
}
/*科研成果——中俄人文合作协同创新中心***************************************************************/
.kycg_culture_banner{
    width: 1000px;
    height: 130px;
    background: url("../images/banner.png") 0 -900px;
    position: relative;
    left:175px;
}
.kycg_culture_content{
    width: 1000px;
    height:1150px ;
    margin: 0 auto;
}
.kycg_culture_title{
    width: 688px;
    height: 50px;
    background: url("../images/kycg_culture_title.jpg");

}
.kycg_culture_right{
     width: 688px;
     height: 550px;
    float: right;
 }
.kycg_culture_form{
    margin-top: 10px;
    width: 672px;
    height: 371px;
    border-collapse:collapse;
    color: #333333;
    font-size: 15px;

}

.kycg_culture_form tr td{
    border: 1px solid #8adaf5;

}
.kycg_culture_form_one {
    text-align: right;
    background-color: #e4f1f8;
    width: 135px;
    height: 30px;
}
.kycg_culture_form_two{
    width: 203px;
    height: 30px;
}
.kycg_culture_form_three{
    text-align: right;
    background-color: #e4f1f8;
    width: 156px;
    height: 30px;
}
.kycg_culture_form_four{
    width: 181px;
    height: 30px;
}
.kycg_culture_form_five{
    width:537px;
    height: 30px;
}
.kycg_culture_form_six{
    text-align: right;
    background-color: #e4f1f8;
    width:135px;
    height: 90px;
}
.kycg_culture_form_seven{
    width:537px;
    height: 90px;
}
.kycg_culture_form_size{
    width:537px;
    height: 30px;
    border: 1px solid #8adaf5;
    font-size: 18px;
    font-weight: bolder;
    font-family: 黑体, serif;
}
/*left----------------------------*/
    .kycg_siderbar{
            width: 300px;
            height: 1120px;
            background-color: rgb(231,242,249);
        float: left;
        }
        .zj_search_k{
            width: 300px;
            height: 210px;
            border-top: 1px solid rgb(231,242,249);
        }
        .zj_search_content2{
            height: 25px;
            margin-top: 25px;
            margin-left: 25px;
            color: rgb(8,52,135);
            font-size: 15px;
        }
        .zj_search_content2 select{
            height: 24px;
            width: 171px;
            border: 1px solid rgb(20,103,195);
            margin-left: 15px;
            color: rgb(8,52,135);
        }



.pic-news-content-list{
    /*background-color: white;*/
    float: left;
    width: 688px;
    height: 1107px;
    margin-left: 12px;
}
.pic-news-content-nav{
    font-size: 14px;
    font-family: "宋体";
    line-height: 50px;
    margin-left: 494px;
}
.scientific-research-project-title{
    width: 688px;   height: 50px;
    background-color: #cccccc;
    background: url("../images/column-title-bg.png") 0 -350px;
    margin-bottom: 10px;
    color: #666666;
}
.pic-news-contents ul li div{
    color: #993333;
    float: right;   margin-right: 11px;
    font-size: 14px;
    font-family: "Times New Roman";
}
.pic-news-contents ul li{
    width: 688px;
    color: #333333;
    font-size: 14px;
    font-family: "宋体";
    line-height: 40px;
    _vertical-align: middle;
    /*margin-left: 22px;*/
    text-indent: 20px;
    border-bottom: 1px solid #99ccff;
}
.pic-news-contents ul li span{
    text-align: right;
}

.scientific-research-project-list{

}
.project-title,.project-level,.project-type,.project-date{
    height: 31px;
    border-top: 1px solid #99ccff;
    border-bottom: 1px solid #99ccff;
    font-size: 15px;
    font-family: "宋体";
    color: #333333;
    background-color: rgb(231,246,249);
}
.color-red{
    color: #cc0000;
}
.project-title{
    width: 408px;

    text-align: center;
}
.project-level,.project-type,.project-date{
    width: 91px;
    text-align: center;
    /*border: 1px solid #ff0000;*/
}
.project-title-list,.project-level-list,.project-type-list,.project-date-list{
    height: 31px;
    /*line-height: 31px;*/
    border-bottom: 1px solid #99ccff;
    font-size: 14px;
    font-family: "宋体";
    color: #003399;
    text-indent: 18px;
}
.tr1:hover{
    background-color: rgb(197,232,255);
}
.tr1:hover .project-title-list{
    color: #ff0000;
    text-decoration: underline;
}













/*==================翻页====================*/
.page-turning{
    clear: both;
    margin-top: 32px;
    /*border: 1px solid red;*/
    height: 50px;
    margin-left: 150px;
}
.page-turning ul li{
    float: left;
    margin-left: 5px;
    width: 17px;    height: 21px;
    text-align: center;
    line-height: 21px;
    border: 1px solid #EEEEEE;
    color: #0066cc;
}
.page-turning ul .page-turning-total{
    width: 40px;
    color: #000000;
    border: none;
    line-height: 23px;
}
.page-turning ul .firstandlast{
    width: 34px;

}
.page-turning ul .corner{
    width: 27px;
}
.page-turning ul .page-turning-number:hover{
    background-color: #cccccc;
}


/*==============科研项目具体内容===================*/
.minute-information-title{
    height: 34px;
    margin-top: 33px;
    margin-bottom: 10px;
    margin-left: 11px;
    line-height: 34px;
    border-bottom: 2px solid rgb(204,0,0);
    /*border: 1px solid #ff0000;*/
}
.last-page{
    float: right;
    margin-right: 25px;
}
.minute-information-title-text{
    font-size: 15px;
    font-family: "宋体";
    color: #eb0000;
    font-weight: bold;
    text-indent: 10px;
}
.d1{
    clear: both;
}
.minute-information-table{
    margin-top: 10px;
    margin-bottom: 26px;
    border: 1px solid #99ccff;
    clear: left;
}
.left-row{
    width: 133px;
    height: 32px;
    border-bottom: 1px solid #99ccff;
    border-left: none;
    border-top: none;
    background-color: rgb(231,246,249);
    text-align: right;
    font-size: 14px;
}
.right-row{
    width: 201px;
    height: 32px;
    border: 1px solid #99ccff;
    border-top: none;
    text-align: right;
    font-size: 14px;
}
.long-row{
    height: 32px;
    border: 1px solid #99ccff;
    text-align: left;
    font-weight: bolder;
    font-family: "微软雅黑";
    font-size: 18px;
}
.minute-informations{
    height: 300px;
}


/*====================777777   333333=========================*/
.minute-scientific-information{
    width: 1000px;  height: 670px;
    /*background-color: powderblue;*/
}
.minute-scientific-information-title{
    width: 1000px;   height: 50px;
    background-color: #cccccc;
    background: url("../images/column-title-bg.png") 0 -350px;
    margin-bottom: 10px;
    color: #666666;
    margin-bottom: 27px;
}
.minute-scientific-information-nav{
    font-size: 14px;
    font-family: "宋体";
    line-height: 50px;
    float: right;
    margin-right: 35px;
}

.Project-basic-information{
    width: 914px;
    height: auto;
    padding: 11px 8px;
    border: 1px solid #cccccc;
    margin: 0 auto;
    margin-bottom: 20px;
}

.Project-basic-information-title{
    height: 32px;
    font-size: 15px;
    font-family: "宋体";
    color: #eb0000;
    font-weight: bold;
    text-indent: 10px;
    line-height: 32px;
    border-bottom: 2px solid rgb(204,0,0) ;
    margin-bottom: 10px;
}
.Project-basic-information-title-table2{
    /*margin-bottom: 190px;*/
}
.Project-basic-information-title-table table{
    border: 1px solid #99ccff;
    font-size: 14px;
    border-bottom: none;
    border-left: none;
}
.left-row1{
    width: 136px;
    height: 32px;
    border: 1px solid #99ccff;
    text-align: right;
    border-top: none;
    border-right: none;
    background-color: #E4F1F9;
}
.long-row1{
    width: 473px;
    height: 32px;
    border: 1px solid #99ccff;
    font-size: 15px;
    font-family: "宋体";
    border-top: none;
    border-right: none;
    color: #0066cc;
    font-weight: bold;
}
.center-row2{
    width: 103px;
    height: 32px;
    border: 1px solid #99ccff;
    text-align: right;
    border-top: none;
    border-right: none;
    background-color: #E4F1F9;
}
.center-row1{
    width: 136px;
    height: 32px;
    border: 1px solid #99ccff;
    text-align: right;
    border-top: none;
    border-right: none;
    background-color: #E4F1F9;
}
.right-row1{
    width: 190px;
    height: 32px;
    border: 1px solid #99ccff;
    border-top: none;
    border-right: none;
}
.row-one{
    width: 172px;   height: 32px;
    border: 1px solid #99ccff;
    border-top: none;
    border-right: none;
}
.row-two{
    width: 163px; height: 32px;
    border: 1px solid #99ccff;
    border-top: none;
    border-right: none;
}


