

.xxzy_banner{
    width: 1000px;
    height: 130px;
    margin: 0 auto;
    background: url("../images/banner.png") 0 -600px;
}
.gnzj_banner{
    width: 1000px;
    height: 130px;
    margin: 0 auto;
    background: url("../images/banner.png") 0 -750px;
}
.zlhz_banner{
    width: 1000px;
    height: 130px;
    margin: 0 auto;
    background: url("../images/banner.png") 0 -450px;
}
.zxjj_banner{
    width: 1000px;
    height: 130px;
    margin: 0 auto;
    background: url("../images/banner.png") 0 0;
}
.yjfk_banner{
    width: 1000px;
    height: 130px;
    margin: 0 auto;
    background: url("../images/banner.png") 0 -1200px;
}
/*
     战略合作
*/

.whly_content{
    width: 1000px;
    height: 1185px;
    margin: 0 auto;
    margin-top: 10px;
}
.whly_right{
    width: 688px;
    float: left;
    margin-left: 12px;
}
.whly_right_title{
    width: 688px;
    height: 50px;
    background-color: rgb(227,227,227);
}
.whly_right_title1{
    font:900 24px/45px "微软雅黑";
    color: rgb(170,43,43);
    margin-left: 30px;
    _margin-left: 15px;
    float: left;
}
.whly_right_title2{
    color: rgb(87,88,88);
    font-size: 14px;
    line-height: 50px;
    float: right;
    margin-right: 14px;
    _margin-right: 7px;
}
.whly_right_content {
    width: 688px;
    margin-top: 10px;
}
.whly_right_content li{
    height: 39px;
    border-bottom: 1px solid rgb(161,219,255);
    height: 40px\9;
    line-height: 39px;
    font-size: 15px;
    color: rgb(52,58,69);
    position: relative;
}
.whly_right_content li img{
    margin-left: 15px;
    margin-right: 10px;
    _margin-top: 20px;
}
.whly_right_date{
    position: absolute;
    line-height: 40px;
    color: rgb(170,43,43);
    top: 0;
    right: 12px;
}
.whly_right_footer{
    width: 375px;
    height: 25px;
    margin: 0 auto;
    margin-top: 25px;
}
.whly_right_footer .first{
    width: 36px;
    height: 23px;
    color: rgb(3,108,180);
    border: 1px solid rgb(238,238,238);
    margin-left: 10px;
    _margin-left: 5px;
}
.whly_right_footer div{
    float: left;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
}
.whly_right_0{
    width: 30px;
    height: 23px;
    border: 1px solid rgb(238,238,238);
    color: rgb(3,108,180);
    margin-left: 7px;
}
.whly_right_2,.whly_right_2_1{
    width: 18px;
    height: 23px;
    border: 1px solid rgb(238,238,238);
    color: rgb(3,108,180);
    margin-left: 7px;
}
.whly_right_2_1{
    background-color: rgb(204,204,204);
}
.whly_right_footer .last{
    width: 36px;
    height: 23px;
    color: rgb(3,108,180);
    border: 1px solid rgb(238,238,238);
    margin-left: 7px;
}
.whly_right_2:hover,.whly_right_0:hover,.whly_right_footer .first:hover,.whly_right_footer .last:hover{
    background-color: rgb(204,204,204);
}
/*
      俄文数据库
*/

.ewsjk_content{
    width: 1000px;
    height: 1185px;
    margin: 0 auto;
    margin-top: 10px;
}
.ewsjk_right {
    width: 688px;
    float: left;
    margin-left: 12px;
}
.ewsjk_right_content,.ewsjk_right_content1{
    width: 154px;
    height: 217px;
    background-color: rgb(21,105,197);
    float: left;
    position: relative;
    margin-left: 14px;
    margin-top: 28px;
    margin-bottom: 28px;
    color: white;
    text-align: center;
    font-size: 15px;
}
.ewsjk_right_content1{
    _margin-left: 7px;
}
.ewsjk_right_img1{
    width: 147px;
    height: 160px;
    background: url("../images/ewsjk_content.png") 0 0;
    margin-left: 3px;
    *margin-left: 2px;
    margin-top: 3px;
    margin-bottom: 10px;
}
.ewsjk_right_img2{
    width: 147px;
    height: 160px;
    background: url("../images/ewsjk_content.png") -147px 0;
    margin-left: 3px;
    margin-top: 3px;
    *margin-left: 2px;
    margin-bottom: 10px;
}
.ewsjk_right_img3{
    width: 147px;
    height: 160px;
    background: url("../images/ewsjk_content.png") -294px 0;
    margin-left: 3px;
    margin-top: 3px;
    *margin-left: 2px;
    margin-bottom: 10px;
}
.ewsjk_right_img4,.ewsjk_right_img5,.ewsjk_right_img6{
    width: 147px;
    height: 160px;
    background: url("../images/ewsjk_content.png") -441px 0;
    margin-left: 3px;
    margin-top: 3px;
    *margin-left: 2px;
    margin-bottom: 10px;
}
.ewsjk_right_content:hover,.ewsjk_right_content1:hover{
    background-color: rgb(199,0,0);
}

/*
     国内专家
*/
.gnzj_content{
    width: 1000px;
    height: 1535px;
    margin: 0 auto;
    margin-top: 10px;
}
.gnzj_right {
    width: 688px;
    float: left;
    margin-left: 12px;
}
.gnzj_right_content{
    width: 688px;
    height: 244px;
    border-bottom: 1px solid rgb(138,218,245);
    margin-top: 15px;
}
.gnzj_content_img,.gnzj_content_img1{
    width: 156px;
    height: 220px;
    background: url("../images/gnzj_person.png") 0 0;
    border: 2px solid rgb(138,218,245);
    float: left;
    margin-left: 12px;
    _margin-left: 6px;
}
.gnzj_content_img1{
    background: url("../images/gnzj_person.png") -156px 0 ;
}
.gnzj_content_wen{
    width: 500px;
    position: relative;
    float: right;
}
.gnzj_wen_title{
    width: 500px;
    height: 28px;
    background-color: rgb(228,241,248);
    color: rgb(206,0,0);
    font-weight: bolder;
    line-height: 28px;
    text-indent: 9px;
    margin-top: 7px;
}
.gnzj_wen_main{
    font-size: 15px;
    font-weight: bolder;
    line-height: 28px;
    margin-left: 9px;
    position: relative;
}
.gnzj_wen_main span{
    color: rgb(8,53,136);
    font-weight: 500;
    line-height: 28px;
}
.gnzj_wen_main div{
    position: absolute;
    left: 292px;
    top: 0;
}

/*
     国内专家_1
*/
.gnzj1_content{
    width: 1000px;
    height: 1485px;
    margin: 0 auto;
    margin-top: 10px;
}
.gnzj1_content_zl{
    width: 930px;
    height: 510px;
    border: 1px solid rgb(227,227,227);
    margin: 0 auto;
    margin-top: 10px;
}
.content_zi_title{
    width: 911px;
    height: 40px;
    margin: 0 auto;
    border-bottom:2px solid rgb(204,0,0);
    line-height: 40px;
}
.content_zi_title1{
    font-size: 22px;
    font-family: "微软雅黑";
    color: rgb(204,0,0);
    font-weight: bolder;
    float: left;
    margin-left: 25px;
    _margin-left: 13px;
}
.content_zi_title2{
    float: right;
    color: rgb(204,0,0);
    font-size: 15px;
    font-weight: bolder;
    margin-right: 42px;
    _margin-right: 21px;
}
.zl_img{
    width: 160px;
    height: 400px;
    float: left;
    margin-left: 18px;
    _margin-left: 9px;
    margin-top: 16px;
    text-align: center;
    font-size: 15px;
    color: rgb(35,35,35);
}
.tongxiang{
    width: 156px;
    height: 220px;
    background: url("../images/gnzj_person.png") 0 0;
    border: 2px solid rgb(138,218,245);
    margin-bottom: 5px;
}
.zl_tab{
    float: left;
    border-collapse: collapse;
    margin-top: 16px;
    margin-left: 20px;
}
.zl_tab tr td{
    border: 1px solid rgb(138,218,245);
    line-height: 30px;
    height: 30px;
    color: rgb(35,35,35);
    font-size: 15px;
}
.zl_tab tr .td1{
    width: 84px;
    background-color: rgb(228,241,248);
    text-align: center;
}
.zl_tab tr .td2{
    width: 197px;
}
.zl_tab tr .td3{
    width: 112px;
}
.zl_tab tr .td4{
    width: 124px;
}
.gnzj1_content_jl{
    width: 930px;
    height: 340px;
    margin: 0 auto;
    margin-top: 15px;
    border: 1px solid rgb(227,227,227);
}
.jl_tab{
    width: 910px;
    margin: 0 auto;
    margin-top: 10px;
    border-collapse: collapse;
}
.jl_tab tr td{
    border: 1px solid rgb(138,218,245);
    color: rgb(35,35,35);
}
.jl_tab tr .td1{
    width: 910px;
    height: 32px;
    background-color: rgb(228,241,248);
    text-indent: 13px;
    font-size: 14px;
    font-weight: bolder;
    line-height: 32px;
}
.jl_tab tr .td2{
    width: 457px;
    height: 55px;
}
.jl_tab tr .td2 p{
    margin-left: 40px;
    font-size: 14px;
    line-height: 20px;
}

/*
      意见反馈
*/

.yjfk_content{
    width: 1000px;
    height: 1185px;
    margin: 0 auto;
    margin-top: 10px;
}
.yjfk_right{
    width: 688px;
    float: left;
    margin-left: 12px;
}
.whly_right_title3_2{
    font:900 24px/45px "微软雅黑";
    margin-left: 50px;
    _margin-left: 25px;
    float: left;
}
.whly_right_title1_2{
    font:900 24px/45px "微软雅黑";
    margin-left: 30px;
    _margin-left: 15px;
    float: left;
}
.whly_right_title1_2 a{
    text-decoration: none;
    color: rgb(170,43,43);
}
.whly_right_title3_2 a{
    text-decoration: none;
    color: rgb(140,140,142);
}
.yjfk_main{
    width: 669px;
    /*height: 175px;*/
    margin: 0 auto;
    position: relative;
    /*margin-top: 25px;*/
}
.yjfk_border{
    width: 669px;
    height: 3px;
    background: url("../images/border.png") repeat-x;
}
.yjfk_main .p1{
    color: rgb(153,153,153);
    font-size: 13px;
    margin-top: 33px;
    *margin-top: 34px;
    _margin-top: 24px;
}
.yjfk_main .p2{
    color: rgb(178,204,71);
    font-size: 16px;
    font-weight: bolder;
    margin-top: 9px;
}
.yjfk_main .p3{
    color: rgb(102,102,102);
    font-size: 12px;
    margin-top: 19px;
    *margin-top: 21px;
    _margin-top: 19px;
}
.yjfk_main .p4{
    color: rgb(0,137,170);
    font-size: 12px;
    margin-top: 17px;
    line-height: 18px;
    margin-bottom: 32px;
    *margin-top: 18px;
    *margin-bottom: 33px;
    _margin-top: 17px;
    _margin-bottom: 33px;
}

/*
     意见反馈1
*/

.yjfk1_content{
    width: 1000px;
    height: 1205px;
    margin: 0 auto;
    margin-top: 10px;
}
.yjfk1_right{
    width: 688px;
    float: left;
    margin-left: 12px;
}
.whly_right_title1_1{
    font:900 24px/45px "微软雅黑";
    margin-left: 30px;
    _margin-left: 15px;
    float: left;
}
.whly_right_title1_1 a{
    text-decoration: none;
    color: rgb(140,140,142);
}
.whly_right_title3_1{
    font:900 24px/45px "微软雅黑";
    margin-left: 50px;
    _margin-left: 25px;
    float: left;
    color: rgb(170,43,43);
}
.whly_right_title3_1 a{
    text-decoration: none;
    color: rgb(170,43,43);
}
.yjfk1_title{
    width: 80px;
    height: 25px;
    color: rgb(39,85,158);
    font-size: 18px;
    font-family: "微软雅黑";
    margin-top: 34px;
    margin-left: 38px;
}
.yjfk1_main{
    width: 635px;
    height: 549px;
    margin: 0 auto;
    border: 1px solid rgb(161,219,255);
}
.yjfk1_tips{
    width: 635px;
    height: 25px;
    background-color: rgb(231,242,249);
    color: rgb(8,54,137);
    font-size: 12px;
    line-height: 25px;
    text-indent: 140px;
}
.yjfk1_style {
    font-size: 15px;
    color: rgb(22, 22, 23);
    margin-left: 65px;
    margin-top: 30px;
}
.yjfk1_style select{
    width: 130px;
    margin-left: 30px;
}
.yjfk1_ly{
    margin-left: 50px;
    margin-top: 15px;
    font-size: 15px;
    color: rgb(22,22,23);
}
.yjfk1_ly span{
    color: rgb(242,141,141);
    font-size: 13px;
}
.yjfk1_ly input{
    margin-left: 30px;
    height: 20px;
    width: 310px;
}
.yjfk1_ly textarea{
    margin-left: 90px;
    margin-top: -15px;
}
.yjfk1_ly .yz{
    width: 105px;
}
.yjfk1_ly .yzm{
    color: rgb(183, 18, 11);
    font-size: 13px;
    margin-left: 210px;
    margin-top: -23px;
}
.yjfk1_ly .yzm img{
    margin-right: 8px;
}
.yjfk1_tj{
    width: 95px;
    height: 30px;
    background-color: rgb(1,183,46);
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    margin-top: 25px;
    margin-left: 140px;
}
.yjfk1_tj a,.yjfk1_cz a{
    color: white;
    font-size: 16px;
    text-decoration: none;
}
.yjfk1_cz{
    width: 95px;
    height: 30px;
    background-color: rgb(162,162,162);
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    margin-left: 260px;
    margin-top: -29px;
}

/*
    中心简介
*/

.zxjj_content{
    width: 1000px;
    height: 1250px;
    margin: 0 auto;
    margin-top: 10px;
}
.zxjj_right{
    float: right;
    width: 300px;
    height: 1085px;
    background-color: rgb(231,242,249);
    margin-top: 8px;
}
.zxjj_right_title{
    width: 300px;
    height: 50px;
    background-color: rgb(161,219,255);
    color: rgb(8,51,134);
    font-size: 18px;
    font-family: "微软雅黑";
    font-weight: bolder;
    line-height: 50px;
    margin-bottom: 25px;
}
.zxjj_right_title img{
    margin-left: 55px;
    margin-right: 20px;
    float: left;
}
.zxjj_right_bt{
    width: 300px;
    height: 20px;
}
.zxjj_right_bt div{
    height: 25px;
    float: left;
    line-height: 20px;
    font-size: 15px;
    font-family: "微软雅黑";
    margin-left: 20px;
    font-weight: bolder;
    _margin-left: 10px;
    color: rgb(8,51,134);
}
.zxjj_right_bt img{
    float: left;
    margin-top: 10px;
    margin-left: 12px;
}
.zxjj_right_main{
    margin-left: 30px;
    margin-bottom: 5px;
}
.zxjj_right_main li{
    color: #424343;
    font-size: 15px;
    font-family: "微软雅黑";
    margin-top: 10px;
    list-style-image: url("../images/zxjj_dian.png");
}
.zxjj_left{
    width: 630px;
    margin-left: 40px;
    _margin-left: 20px;
    margin-top: 40px;
    float: left;
    color: #292a2c;
    font-size: 15px;
    line-height: 22px;
    text-indent: 30px;
}
.zxjj_tu{
    width: 630px;
    height: 366px;
    position: relative;
}
.zxjj_p3{
    /*margin-left: 211px;*/
    /*margin-top: 60px;*/
    position: absolute;
    left: 211px;
    top: 60px;
}
.zxjj_p2{
    position: absolute;
    left: 0;
    top: 183px;
}
.zxjj_p1{
    position: absolute;
    left: 43px;
    top: 22px;
}
.zxjj_left .d2{
    margin-bottom: 30px;
}